body{
    background-color: bisque;
}

.list-group{
    --bs-list-group-bg: transparent;
}

/* color de los iconos */
.color{
    color: white;
}

.color-hover:hover{
    color: rgb(89, 236, 152);
}

